<mat-sidenav-container class="al-sidenav-container">
  <mat-sidenav class="al-sidenav" #sidenav [mode]="'push'" [opened]="false">
    <!-- Sidenav content -->
    <div class="al-sidenav-center">
      <div>
        <mat-icon class="al-icon-size" color="primary">account_circle</mat-icon>
        <div>
          <span class="al-span">Tia Lallo</span>
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="al-sidenav-content">
    <app-toolbar (menuClick)="sidenav.toggle()"></app-toolbar>
    <app-contact-list></app-contact-list>
  </mat-sidenav-content>
</mat-sidenav-container>
