<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #sidenav [mode]="'push'" [opened]="false">
    <!-- Sidenav content -->
    <div class="sidenav-center">
      <div>
        <mat-icon class="icon-size" color="primary">account_circle</mat-icon>
        <div>
          <span class="span">Tia Lallo</span>
          <br>
          <br>
          <a class=link href="https://github.com/TiaLallo/KLI1317-contacts-app">Github</a>
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <app-toolbar (menuClick)="sidenav.toggle()"></app-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
